<div class="container">
  <div class="form">
    <div class="level">
      <div class="field">
        <app-text-input
          (sendText)="updateText($event)"
          (toggleTagListEvent)="toggleTagList($event)"
        ></app-text-input>
      </div>
      <div class='level-right'>
        <div class="field">
          <div class="control">
            <button class="button">Submit</button>
          </div>
        </div>
      </div>
    </div>
    <div class="field">
      <app-tag-list
        [users]="users"
        [currentText]="currentText"
        *ngIf="showTagList"
        (sendMatchedUser)="updateMatchedUser($event)"
      ></app-tag-list>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
